:root {
  --column-size: 0px;
  --sketch-pad-size: 960px;
}
* {
  box-sizing: border-box;
  --sketch-pad-size: 500px;
}
.column {
  width: var(--column-size);
  height: var(--column-size);
  background-color: black;
  margin: 1px;
}
.row {
  display: flex;
}
#sketch-pad {
  width: var(--sketch-pad-size);
  height: var(--sketch-pad-size);
}
