:root {
  --column-size: 0px;
  --sketch-pad-size: 500px;
  --margin-size: 1px;
}
.column {
  /* border-box not used because it wasn't working  */
  width: calc(var(--column-size) - var(--margin-size) * 2);
  height: calc(var(--column-size) - var(--margin-size) * 2);
  margin: var(--margin-size);
}
.row {
  display: flex;
}
#sketch-pad {
  width: var(--sketch-pad-size);
  height: var(--sketch-pad-size);
}
