:root {
  --column-width: 0px;
  --column-height: 0px;
  --sketch-pad-height: 960px;
  --sketch-pad-width: 960px;
}
* {
  box-sizing: border-box;
}
.column {
  width: var(--column-width);
  height: var(--column-height);
  background-color: black;
}
.row {
  display: flex;
}
#sketch-pad {
  width: var(--sketch-pad-width);
  height: var(--sketch-pad-height);
}
